/*-------------------
    LAYOUT
-------------------*/
.ms_container {
   max-width: 70rem;
   margin: 0 auto;
   &__sm {
      max-width: 56.25rem;
      margin: 0 auto;
   }
}
/*-------------------
    LAYOUT
-------------------*/
.ms_py {
   padding-block: 7.5rem;
}
