/*-------------------
    LAYOUT
-------------------*/
.ms_container {
   max-width: 70rem;
   margin: 0 auto;
   &__sm {
      max-width: 56.25rem;
      margin: 0 auto;
   }
}

.ms_py {
   padding-block: 2rem;
   @media (width > 768px) {
      padding-block: 4rem;
   }
   @media (width > 992px) {
      padding-block: 7.5rem;
   }
}
