/*-------------------
    mixins
-------------------*/
@mixin flex-center($gap: 0) {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: $gap;
}

@mixin reset-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

@mixin horizontal-list($gap) {
   @include reset-list;
   @include flex-center($gap);
}
