/*-------------------
    flex
-------------------*/
@mixin flex-center($gap: 0) {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: $gap;
}

@mixin flex-start($gap: 0) {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: $gap;
}
/*-------------------
    list
-------------------*/
@mixin reset-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

@mixin horizontal-list($gap: 0) {
   @include reset-list;
   @include flex-center($gap);
}
/*-----------------------
    position absolute
-----------------------*/
@mixin position-absolute-center {
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
}

@mixin position-absolute-parent-size {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}
/*-----------------------
    other utilities
-----------------------*/
@mixin parent-circle($size: 1.5rem) {
   width: $size;
   height: $size;
   border-radius: 50%;
   @include flex-center;
}
