/*-------------------
    RESET
-------------------*/
a {
   color: inherit;
   text-decoration: none;
   &:hover {
      color: inherit;
   }
}

img {
   display: block;
}

/*-------------------------------
    bs  reset
------------------------------------*/
button {
   color: inherit;
}

input.form-control {
   color: inherit;
   border: none;
   &:focus {
      box-shadow: none;
   }
}
