/*-------------------
    VARIABLES
-------------------*/
:root {
   // Colors
   --primary-color-200: #daeced;
   --primary-color-300: #00a6ae;
   --primary-color: #058283;

   --secondary-color: #21333e;
   --secondary-color-400: #111117;

   --neutral-color-800: #060a0c;
}
