/*-------------------
    VARIABLES
-------------------*/
:root {
   // Colors
   --primary-color-200: #daeced;
   --primary-color-300: #00a6ae;
   --primary-color-300__transparent: rgba(0, 166, 174, 0.25);
   --primary-color: #058283;

   --secondary-color: #21333e;
   --secondary-color-400: #111117;

   --accent-color: #7e512d;

   --neutral-color-100: white;
   --neutral-color-200: #f0f0f0;
   --neutral-color-300: #a8a9af;
   --neutral-color-450: #606d75;
   --neutral-color-800: #060a0c;
}
